<div class="tb-explore">
    <div class="explore-title">
        <h2>Explore The World</h2>
        <p>10,788 beautiful places to go</p>
    </div>
    <div class="Explore-list">
        <div class="Explore-menu">
            <img src="assets/image/ex1.png" alt="img">
            <div class="Explore-infor">
                <a style="display: flex">
                    <i class="fa fa-star tb-star" aria-hidden="true"></i>
                    <b>4.91</b>
                    <p class="gray">(147)</p>
                </a>
                <div class="ex-comfort">
                    <h4>Comfort Space</h4>
                    <p>$210</p>
                </div>
                <p>1.2 km to Town Center</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Turkey,Mamaris </p>
                <p class="tb-w"><i class="fa fa-building" aria-hidden="true"></i>Rooms available: 375</p>
                
            </div>
        </div>
        <div class="Explore-menu">
            <img src="assets/image/ex2.png" alt="img">
            <div class="Explore-infor">
                <a style="display: flex"><i class="fa fa-star tb-star" aria-hidden="true"></i><b>4.91</b><p class="gray">(147)</p></a>
                <div class="ex-comfort">
                    <h4>Comfort Space</h4>
                    <p>$210</p>
                </div>
                <p>1.2 km to Town Center</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Turkey,Mamaris </p>
                <p class="tb-w"><i class="fa fa-building" aria-hidden="true"></i>Rooms available: 375</p>
                
            </div>
        </div>
        <div class="Explore-menu">
            <img src="assets/image/ex3.png" alt="img">
            <div class="Explore-infor">
                <a style="display: flex"><i class="fa fa-star tb-star" aria-hidden="true"></i><b>4.91</b><p class="gray">(147)</p></a>
                <div class="ex-comfort">
                    <h4>Comfort Space</h4>
                    <p>$210</p>
                </div>
                <p>1.2 km to Town Center</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Turkey,Mamaris </p>
                <p class="tb-w"><i class="fa fa-building" aria-hidden="true"></i>Rooms available: 375</p>
                
            </div>
        </div>
        <div class="Explore-menu">
            <img src="assets/image/ex4.png" alt="img">
            <div class="Explore-infor">
                <a style="display: flex"><i class="fa fa-star tb-star" aria-hidden="true"></i><b>4.91</b><p class="gray">(147)</p></a>
                <div class="ex-comfort">
                    <h4>Comfort Space</h4>
                    <p>$210</p>
                </div>
                <p>1.2 km to Town Center</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Turkey,Mamaris </p>
                <p class="tb-w"><i class="fa fa-building" aria-hidden="true"></i>Rooms available: 375</p>
                
            </div>
        </div>
    </div>
</div>