<div class="tb-footer container">
    <div class="footer-list">
        <div class="footer-menu">
            <div class="footer-logo">
                <img src="assets/image/logo.png">
                <h6>TripGuide</h6>
            </div>
            <p class="footer-p">This is the team that specializes in making sure in the find it a your interior looks cool</p>
            <div class="footer-button">
                <div class="active p-1 tb-i">
                    <a href="/"><i class="fa fa-sun-o" aria-hidden="true"></i></a>
                </div>
                <div class="p-1 tb-i">
                    <a href="/"><i class="fa fa-moon-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-menu">
            <h6>Services</h6>
            <ul class="footer-ul">
                <li><a>Travel Booking</a></li>
                <li><a>Flight Booking</a></li>
                <li><a>Car Booking</a></li>
                <li><a>Fivestar Hotel</a></li>
                <li><a>Traveling</a></li>
            </ul>
        </div>
        <div class="footer-menu">
            <h6>Support</h6>
            <ul class="footer-ul">
                <li><a>Account</a></li>
                <li><a>Legal</a></li>
                <li><a>Contact</a></li>
                <li><a>Terms & Condition</a></li>
                <li><a>Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-menu">
            <h6>Business</h6>
            <ul class="footer-ul">
                <li><a>Success</a></li>
                <li><a>About Locato</a></li>
                <li><a>Blog</a></li>
                <li><a>Information</a></li>
                <li><a>Travel Guide</a></li>
            </ul>
        </div>
    </div>
</div>
