<div class="tb-destinations">
    <div>   
        <h2>Featured Destinations</h2>
        <p>Popular destinations open to visitors from indonesia.</p>
    </div>
    <div class="tb-des-img"> 
        <div class="tb-grid">
            <div>
                <img src="assets/image/body-1.png" class="tb-img-des des-img1">
                <div  class="destinations-address">
                    <h5>Barcelona Tour</h5>
                    <div class="destinations-avt">
                        <img src="assets/image/body-avt.png">
                        <p>196 Active</p>
                    </div>
                </div>
                <p class="tb-35 tb-des-1">3.5</p>
            </div>
            <div class="destinations-bot">
                <div>
                    <img src="assets/image/body-2.png" class="tb-img-des destinations-img tb-height">
                    <div class="destinations-address">
                        <h5>London, United State</h5>
                        <div class="destinations-avt">
                            <img src="assets/image/body-avt.png">
                            <p>196 Active</p>
                        </div>
                    </div>
                    <p class="tb-35 tb-des-2">3.5</p>
                </div>
                <div class="des-img3">
                    <img src="assets/image/body-3.png" class="tb-img-des destinations-img tb-ml-2 tb-height">
                    <div class="destinations-address tb-ml">
                        <h5>Australia Tour</h5>
                        <div class="destinations-avt">
                            <img src="assets/image/body-avt.png">
                            <p>196 Active</p>
                        </div>
                    </div>
                    <p class="tb-35 tb-des-2">3.5</p>
                </div>
            </div>
        </div>
        <div class="destination-right">
            <div class="destination-tour">
                <img class=" destinations-img-right" src="assets/image/body-4.png" class="tb-img-des ">
                <div class="destinations-address-right">
                    <h6>Australia Tour</h6>
                    <div class="destinations-avt-right">
                        <img src="assets/image/body-avt.png">
                        <p>196 Active</p>
                    </div>
                </div>
                <p class="tb-35 tb-des-3" >3.5</p>
            </div>
            <div class="destination-tour ">
                <img class=" destinations-img-right" src="assets/image/body-5.png"  class="tb-img-des ">
                <div class="destinations-address-right">
                    <h6>Japan Tour</h6>
                    <div class="destinations-avt-right">
                        <img src="assets/image/body-avt.png">
                        <p>196 Active</p>
                    </div>
                </div>
                <p class="tb-35 tb-des-3">3.5</p>
            </div>
            <div class="destination-tour">
                <img class=" destinations-img-right mt-4" src="assets/image/body-6.png"  class="tb-img-des ">
                <div class="destinations-address-right">
                    <h6>Japan Tour</h6>
                    <div class="destinations-avt-right">
                        <img src="assets/image/body-avt.png">
                        <p>196 Active</p>
                    </div>
                </div>
                <p class="tb-35 tb-des-3" style="margin-top: -200px;">3.5</p>
            </div>
        </div>
    </div>
</div> 