<div class="tb-trend">
    <div class="trend-title">
        <h2>Trending cities</h2>
        <p>The most searched for cities on TripGuide</p>
    </div>
    <div class="trend-list">
        <div class="trend-menu">
            <div class="trend-img">
                <img src="assets/image/trend1.png">
            </div>
            <div class="trend-detail">
                <h5>Manila</h5>
                <div class="trend-star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <b>4.91</b>
                    <p>(147)</p>
                </div>
                <div class="trend-price">
                    <b>$250.00</b>
                    <p style="    margin-top: 5px;">/night</p>
                </div>
                <button type="button" class="trend-button">Book Now</button>
            </div>
        </div>
        <div class="trend-menu">
            <div class="trend-img">
                <img src="assets/image/trend2.png">
            </div>
            <div class="trend-detail">
                <h5>Manila</h5>
                <div class="trend-star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <b>4.91</b>
                    <p>(147)</p>
                </div>
                <div class="trend-price">
                    <b>$250.00</b>
                    <p style="margin-top: 5px;">/night</p>
                </div>
                <button type="button" class="trend-button">Book Now</button>
            </div>
        </div>
        <div class="trend-menu">
            <div class="trend-img">
                <img src="assets/image/trend3.png">
            </div>
            <div class="trend-detail">
                <h5>Manila</h5>
                <div class="trend-star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <b>4.91</b>
                    <p>(147)</p>
                </div>
                <div class="trend-price">
                    <b>$250.00</b>
                    <p style="color:gray;     margin-top: 5px;">/night</p>
                </div>
                <button type="button" class="trend-button">Book Now</button>
            </div>
        </div>
        <div class="trend-menu">
            <div class="trend-img">
                <img src="assets/image/trend4.png">
            </div>
            <div class="trend-detail">
                <h5>Manila</h5>
                <div class="trend-star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <b>4.91</b>
                    <p>(147)</p>
                </div>
                <div class="trend-price">
                    <b>$250.00</b>
                    <p style=" color:gray;    margin-top: 5px;">/night</p>
                </div>
                <button type="button" class="trend-button">Book Now</button>
            </div>
        </div>
        <div class="trend-menu">
            <div class="trend-img">
                <img src="assets/image/trend2.png">
            </div>
            <div class="trend-detail">
                <h5>Manila</h5>
                <div class="trend-star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <b>4.91</b>
                    <p>(147)</p>
                </div>
                <div class="trend-price">
                    <b>$250.00</b>
                    <p style="color:gray;     margin-top: 5px;">/night</p>
                </div>
                <button type="button" class="trend-button">Book Now</button>
            </div>
        </div>
        <div class="trend-menu">
            <div class="trend-img">
                <img src="assets/image/trend1.png">
            </div>
            <div class="trend-detail">
                <h5>Manila</h5>
                <div class="trend-star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <b>4.91</b>
                    <p>(147)</p>
                </div>
                <div class="trend-price">
                    <b>$250.00</b>
                    <p style="color:gray;    margin-top: 5px;">/night</p>
                </div>
                <button type="button" class="trend-button">Book Now</button>
            </div>
        </div>
    </div>
</div>