<div class="tb-offer container">
    <div class="offer-test">
        <h5>Get our pro offers</h5>
        <p>Create a visual identity for your company, and an overall brand</p>
    </div>
    <div class="offer-sub">
        <form class="tb-form" action="" method="post">
            <input type="hidden" name="baro" value="widget-minimal">
            <input class="tb-email" type="email" required="" name="baro" value="" placeholder="Type your email hear">
            <input class="tb-submit" type="submit" value="Subscribe">
        </form>
    </div>
</div>
