<div class="top-tour">
    <div class="top-tour-title">
        <h2>Top Tour</h2>
        <p>Keep calm & travle on</p>
    </div>
    <div class="tb-toptour">
        <div class="toptour-list">
            <img src="assets/image/japan.png">
            <div class="toptour-introduce">
                <p class="toptour-city">Japan</p>
                <div class="toptour-address">
                    <h6>Japan</h6>
                    <p>10 Popular places</p>
                </div>
            </div>
        </div>
        <div class="toptour-list">
            <img src="assets/image/bali.png">
            <div class="toptour-introduce">
                <p class="toptour-city">Bali</p>
                <div class="toptour-address">
                    <h6>Bali</h6>
                    <p>10 Popular places</p>
                </div>
            </div>
        </div>
        <div class="toptour-list">
            <img src="assets/image/spain.png">
            <div class="toptour-introduce">
                <p class="toptour-city">Spain</p>
                <div class="toptour-address">
                    <h6>Spain</h6>
                    <p>10 Popular places</p>
                </div>
            </div>
        </div>
    </div>
</div>