<div class="tb-header">
    <div class="header-body">
        <div class="header-left">
            <img src="assets/image/logo.png" alt="logo">
            <p>Tripguide</p>
        </div>
        <div class="header-right">
            <ul>
                <li><a href="/">USD</a></li>
                <li><a href="/"><img src="assets/image/usa.png" alt=" cờ mỹ" ></a></li>
                <li><a href="/"><i class="fa fa-bell" aria-hidden="true"></i></a></li>
                <li><a href="/"><img src="assets/image/avt.png" alt="avatar" ></a></li>
                <li><a href="/"> Delowar</a></li>
                <li><a href="/"><i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>