<div class="tb-search">
    <div class="search-text">
        <h2>Search a best place in the world</h2>
        <p class="search-guide">Whether you're looking for places for a vocation.We are here to Guide you about the details you need to check in and ease your trips in addvance</p>
    </div>
    <div class="tb-search-img">
        <div class="tb-menu ">
            <div>
                <img src="assets/image/anh1.png">
            </div>
            <h6>Batu,East Java</h6>
            <p>86 Destinations</p>
        </div>
        <div class="tb-menu">
            <div>
                <img src="assets/image/anh2.png">
            </div>
            <p class="tb-hot">HOT</p>
            <h6>Batu,East Java</h6>
            <p>86 Destinations</p>
        </div>
        <div class="tb-menu">
            <div>
                <img src="assets/image/anh3.png">
            </div>
            <h6>Batu,East Java</h6>
            <p>86 Destinations</p>
        </div>
        <div class="tb-menu">
            <div>
                <img src="assets/image/anh4.png">
            </div>
            <h6>Batu,East Java</h6>
            <p>86 Destinations</p>
        </div>
        <div class="tb-menu">
            <div>
                <img src="assets/image/anh5.png">
            </div>
            <h6>Batu,East Java</h6>
            <p>86 Destinations</p>
        </div>
        <div class="tb-menu">
            <div>
                <img src="assets/image/anh6.png">
            </div>
            <h6>Batu,East Java</h6>
            <p>86 Destinations</p>
        </div>
        <div class="tb-menu">
            <div>
                <img src="assets/image/anh7.png">
            </div>
            <h6>Batu,East Java</h6>
            <p>86 Destinations</p>
        </div>
        <div class="tb-menu">
            <div>
                <img src="assets/image/anh8.png">
            </div>
            <h6>Batu,East Java</h6>
            <p>86 Destinations</p>
        </div>
    </div>
</div>
