<div class="tb-travel">
    <div class="travel-title">
        <h2>Travel Your Passion</h2>
        <p>Most Brilliant reasons Entrada should be your one-stop-shop !</p>
    </div>
    <div class="travel-list">
        <div class="travel-menu">
            <img src="assets/image/tv1.png">
            <div class="travel-name">
                <h5>Beach Hobby</h5>
                <div class="travel-star">  
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <p>4.8 (122 reviews)</p>
                </div>
            </div>
        </div>
        <div class="travel-menu">
            <img src="assets/image/tv2.png">
            <div class="travel-name">
                <h5>Citi Tours</h5>
                <div class="travel-star">  
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <p>4.8 (122 reviews)</p>
                </div>
            </div>
        </div>
        <div class="travel-menu">
            <img src="assets/image/tv3.png">
            <div class="travel-name">
                <h5>Hiking Trips</h5>
                <div class="travel-star">  
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <p>4.8 (122 reviews)</p>
                </div>
            </div>
        </div>
        <div class="travel-menu">
            <img src="assets/image/tv4.png">
            <div class="travel-name">
                <h5>Sports Trips</h5>
                <div class="travel-star">  
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <p>4.8 (122 reviews)</p>
                </div>
            </div>
        </div>
    </div>
</div>